<body>
 <h1> Bienvenidos </h1><br>
 <br>
 <br>
 <br>
 <br>
 <p> Esta es la pagina inicial de la aplicacion</p><h4> MYT corporatyon </h4>
 <br>
 <br>
 <p> Si ya Estas registrado en nuestra aplicacion podras ver todo lo relacionado con el registro de operarias<br> instructores, areas y sus operaciones asi mismo como la asigancion de cada una de ellas.</p>
 <br>
 <p> Si aun no estas registrado te invitamos a que hagas parte de esta gran aplicacion, para que conzcas<br> y experimentes una nueva sensacion en el temas de las tecnologias.</p>
 <br>
 <br> 
 <p> Y nuevamente <p> <h3>Bienvenidos</h3>
</body>